<!-- remix -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheets/style.css">
<nav>
    <div class="nav-left">
        <a href="/" class="main-title">khambya</a>
        <a href="mailto:khambya19@gmail.com" class="main-email">khambya19@gmail.com</a>
    </div>

    <i class="ri-menu-line ham-button"></i>
    <div class="ham-open">
        <a href="/">Home</a>

    </div>
</nav>

<script>
    document.querySelector(".ham-button").addEventListener("click", () => {
        document.querySelector(".ham-open").classList.toggle("open");
    });





</script>